**/.venv/
**/__pycache__/
*.venv/
*.venv_dbt/
.mypy_cache/

ignore/

**.DS_Store
pyvenv.cfg
bin/
lib/
logs/
terraform/.terraform
.user.yml

.vscode/*
.vscode
cloudprofiles/profiles.yml

dbt/target/
dbt_packages/
logs/

# Dataflow local configs
**/dataflow_job.egg-info/
**/.pytest_cache/

*_schema.json

**.zip
**.venv/

_workflows/*
